<div class="module-tab-navigation module-tab-navigation-secondary module-block" data-plugin="moduleTabNavigation">
    <div class="container-fluid">
        <div class="component-full-width-background "></div>
        <div class="tab-head">
            <button type="button" class="btn btn-secondary head-item"> Text 1 </button>
            <button type="button" class="btn btn-secondary head-item"> Text 2 </button>
        </div>
        <div class="tab-content">
            <div class="content-item">
                <section class="module-text">
                    <h1> Regular Text Module Content </h1>
                    <img src="https://intpic01.internom.net/custom/persons/01/640x360" alt="">
                    <app-dropdown></app-dropdown>
                    <p> We came all this way to explore the moon, and the most important thing is that we discovered the
                        earth. </p>
                    <p> For those who have seen the Earth from space, and for the hundreds and perhaps thousands more
                        who will, the experience most certainly changes your perspective. The things that we share in
                        our world are far more valuable than those which divide us. </p>
                    <p> What beauty. I saw clouds and their light shadows on the distant dear earth…. The water looked
                        like darkish, slightly gleaming spots…. When I watched the horizon, I saw the abrupt,
                        contrasting transition from the earth's light-colored surface to the absolutely black sky. I
                        enjoyed the rich color spectrum of the earth. It is surrounded by a light blue aureole that
                        gradually darkens, becoming turquiose, dark blue, violet, and finally coal black. </p>
                </section>
            </div>
            <div class="content-item">
                <section class="module-text">
                    <h1> Where ignorance lurks, so too do the frontiers of discovery and imagination. </h1>
                    <p> Once during the mission I was asked by ground control what I could see. "What do I see?" I
                        replied. "Half a world to the left, half a world to the right, I can see it all. The Earth is so
                        small." </p>
                </section>
            </div>
        </div>
    </div>
</div>